.clusternode-container {
	border-radius: 5px;

}
.clusternode-container .clusternode-attribute {
	color: #757575;
	border: 1px solid gray;
	border-radius: 5px;
	padding:0.5rem;
}


.clusternode-container .clusternode-header {
	padding: 0.5rem;
}

.clusternode-container .clusternode-body {
	padding: 0.5rem;
	gap: 0.5rem;
}


.clusternode-container .clusternode-delete-icon {
	min-height: 1.2rem;
}
.clusternode-container .clusternode-delete-icon .delete-icon {
	border: 1px solid #757575;
	border-radius: 5px;
}