@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}	
}


.loader-container .loader-spinner {
	border-radius: 50%;
	background: white;
	border: 5px solid lightgray;
	border-left-color: gray;
	animation: spin 0.65s linear infinite;
	height: 100%;
	width: 100%;
}
