.clusterlist-container .clusterlist-title-wrapper {
	height: 20%;
}

.dashboarboard-title{
	padding: 0 4rem;
	width: 90%;
}

.dashboard-container .dashboard-content{
	padding: 2rem 4rem;
}

.dashboard-container .emptyclusterlist-wrapper {
	height: 100%;
	width: 100%;
}

.dashboard-container .loader-container {
	margin: 3rem auto;
}