.d-flex {
	display:flex;
}

.f-row {
	flex-direction: row;
}

.f-col {
	flex-direction: column;
}

.f-items-center {
	justify-items: center;
}

.f-content-center {
	justify-content: center;
}

.f-content-end {
	justify-content: flex-end;
}

.f-content-start {
	justify-content: flex-start;
}

.f-content-space-bet {
	justify-content: space-between;
}
.f-content-space-ar {
	justify-content: space-around;
}
.a-items-end {
	align-items: flex-end;
}

.a-items-center {
	align-items: center;
}

.a-self-center {
	align-self: center;
}