@import url('./Styles/flex.css');
@import url('./Styles/grid.css');
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	overflow: hidden;
}

body * {
	padding: 0;
	margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.col-gap-2 {
	column-gap: 2rem;
}	

.row-gap-2 {
	row-gap: 2rem
}

body *:focus-visible {
	outline:  #d6d6d6 solid 1px;
}

::-webkit-scrollbar {
	height: 6px;
	width: 6px;
	border-radius: 5px;
	background: #eeeeee;
}

::-webkit-scrollbar-thumb {
	background: #cdcdcd;
	border-radius: 5px;
	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}